    <!-- Footer for the site -->
    </main>

<footer class ="site-footer mt-auto py-3 bg-dark">
    <div class="container text-center"> 
        <p>Contact: <a href="mailto:kevin.nguyen5@ontariotechu.net">kevin.nguyen5@ontariotechu.net</a></p>

        <p>
            <a href = "https://github.com/Kevin-Code55/Assignment2WebandScript.git" target="_blank" class="btn btn-outline-light mx-2">
                <i class ="fab fa-github"></i> GitHub
            </a>
            
            <a href = "https://www.linkedin.com/in/kevin-nguyen-607042396" target = "_blank" class = "btn btn-outline-primary mx-2">
                <i class ="fab fa-linkedin"></i> LinkedIn
            </a>
        </p>
        <p class = "text-light"> © 2025 Kevin Nguyen. All rights reserved.</p>
        </div>
    </footer>

    <!-- Libaries-->
<script src="/jquery/dist/jquery.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="/javascripts/app.js"></script>
</body>
</html>