<%- include('partials/header') %>

<!-- Intro Text-->
<div class="p-5 mb-4 bg-light rounded-3 text-center hero-section">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Track Your Fitness</h1>
        <p class="col-md-8 fs-4 mx-auto">
            Welcome to your personal workout logger. Keep track of your exercises, sets, and reps to ensure you are getting the gains, no ego lifting now.
        </p>
        <a href="/workouts" class="btn btn-primary btn-lg" role="button">View My Log</a>
    </div>
</div>

<%- include('partials/footer') %>